<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<nav th:fragment="quizNavbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Quizek</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/admin/level/index}">Level</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/admin/subject/index}">Subject</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/admin/chapter/index}">Chapter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/admin/question/index}">Question</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/admin/oldquiz/index}">OldQuiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/admin/livequiz/index}">LiveQuiz</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Admin Tools
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/actuator}">Actuator</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/togglz-console}">Togglz Console</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="http://localhost:8080/swagger-ui/index.html" target="_blank">Swagger</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/userdetails}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
