<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="~{layout/main}">
<body>
<div class="container" layout:fragment="content">
    <a class="btn btn-primary" th:href="${constants.ADMIN_URL.CHAPTER_CREATE}">Create</a>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ChapterCode</th>
            <th>Chapter Name</th>
            <th>IsActive</th>
            <th>Subject</th>
            <th>Created At</th>
            <th style="text-align: center">Options</th>
        </tr>
        </thead>
        <tbody th:if="${#lists.isEmpty(constants.chapterList)}">
        <tr>
            <td colspan="3" style="color: red;">No Data found</td>
        </tr>
        </tbody>
        <tbody id="myTable">
        <tr th:each="chapter : ${constants.chapterList}">
            <td th:text="${chapter.chapterCode}"></td>
            <td th:text="${chapter.name}"></td>
            <td th:text="${chapter.active}"></td>
            <td th:text="${chapter.subject.name}"></td>
            <td th:text="${chapter.createdAt}"></td>
            <td><a
                    th:href="@{/chapter/edit/{chapterId}(chapterId=${chapter.id})}" class="btn btn-danger"> Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>







