<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="~{layout/main}">
<body>
<div class="container" layout:fragment="content">
    <a class="btn btn-primary" th:href="${constants.ADMIN_URL.QUESTION_CREATE}">Create</a>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>QuestionCode</th>
            <th>Title</th>
            <th>Description</th>
            <th>IsRadio</th>
            <th>IsActive</th>
            <th>Level</th>
            <th>Subject</th>
            <th>Chapter</th>
            <th>Created At</th>
            <th style="text-align: center">Options</th>
        </tr>
        </thead>
        <tbody th:if="${#lists.isEmpty(constants.questionList)}">
        <tr>
            <td colspan="3" style="color: red;">No Data found</td>
        </tr>
        </tbody>
        <tbody id="myTable">
        <tr th:each="question : ${constants.questionList}">
            <td th:text="${question.questionCode}"></td>
            <td th:text="${question.title}"></td>
            <td th:text="${question.description}"></td>
            <td th:text="${question.radio}"></td>
            <td th:text="${question.active}"></td>
            <td th:text="${question.level.name}"></td>
            <td th:text="${question.subject.name}"></td>
            <td th:text="${question.chapter.name}"></td>
            <td th:text="${question.createdAt}"></td>
            <td><a th:href="@{|${constants.ADMIN_URL.QUESTION_EDIT}/${question.id}|}" class="btn btn-danger"> Edit</a></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>







