<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="~{layout/main}">
<body>
<div class="container" layout:fragment="content">
    <form class="needs-validation" th:action="${actionUrl}"
          th:object="${subject}" method="post">
        <div class="form-group">
            <label class="col-md-4 control-label">Name</label>
            <input placeholder="Enter Name" th:field="*{name}" class="form-control" required/>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">IsActive</label>
            <input placeholder="Enter Name" th:field="*{active}" class="form-control" required/>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Level</label>
            <select th:field="*{level}" class="form-control" required>
                <option value="">Select Level</option>
                <option th:each="levelOption : ${levelOptions}" th:value="${levelOption.id}" th:text="${levelOption.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success float-right">Save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>